<div id="homepage" class="page" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Accueil</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <app-icone-card [dataIcone] = "this.dataIcone.annotation"> </app-icone-card>
            </div>
            <div class="col-md-4">
                <app-icone-card [dataIcone] = "this.dataIcone.completed"> </app-icone-card>
            </div>
            <div class="col-md-4">
                <app-icone-card [dataIcone] = "this.dataIcone.time"> </app-icone-card>
            </div>
        </div>
        <div class="row marginT20"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <div class="card-body">
                        <h4 class="card-title">Tâches récentes</h4>
                        <p class="card-text">À venir</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card" >
                    <div class="card-body">
                        <h4 class="card-title">Statistiques</h4>
                        <p class="card-text">À venir</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
