<div class="container">
    <div>
        <div>Evolution</div>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="container">
                        <div>
                            Start
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <div>
                            End
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>Evolution</div>
        <div></div>
    </div>
    <div class="">
        <div>Audio quality</div>
        <div>sd</div>
    </div>
    <div class="">
        <div>Gender</div>
        <div>sd</div>
    </div>
    <div class="">
        Save
    </div>
</div>