<div id="homepage" class="page" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Categories</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" >
                    <app-create-profile-button (created)="reloadProfileList()"></app-create-profile-button>
                    <app-table-profiles></app-table-profiles>
                </div>
            </div>
        </div>
    </div>

</div>
