<div id="homepage" class="page" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Settings</h1>
                </div>
            </div>
        </div>

        <div class="row marginT20"></div>
        <div class="row">
            <div class="col-md-12">
                <div  class="card">
                    <div class="blocActionForm">
                        <div>
                            General account settings
                        </div>
                        <div>
                            <form class="updateAccount">
                                <mat-form-field class="input-full-width">
                                  <mat-label>Name</mat-label>
                                  <input matInput placeholder="" value="">
                                </mat-form-field>
                                <mat-form-field class="input-full-width">
                                    <mat-label>Lastname</mat-label>
                                    <input matInput placeholder="" value="">
                                </mat-form-field>
                                <button mat-raised-button color="primary">Update</button>
                              </form>
                        </div>
                    </div>
                    <div class="blocActionForm"> 
                        <div>
                            Change Password
                        </div>
                        <div>
                            <form class="updatePassword">
                                <mat-form-field class="input-full-width">
                                  <mat-label>Pawword</mat-label>
                                  <input type="password" matInput placeholder="" value="">
                                </mat-form-field>
                                <mat-form-field class="input-full-width">
                                    <mat-label>Confirm your password</mat-label>
                                    <input type="password" matInput placeholder="" value="">
                                </mat-form-field>
                                <button mat-raised-button color="primary">Update</button>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>