<div class="">
    <div class="row marginT10">
        <div class="col-md-12">
            <div class="container">
                <div >
                    <h1>Utilisateurs de la campagne</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <app-table-campaign-users [campaignId]="campaignId"></app-table-campaign-users>
            </div>
        </div>
    </div>
</div>
