<div class="">
    <div class="row marginT10">
        <div class="col-md-12">
            <div class="container">
                <div >
                    <h1>Exporter les données de la campagne</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div>
                    <p>
                        Vous pouvez exporter les données de campagne pour un traitement exterieur à l'application
                    </p>
                </div>
                <app-export-campaign [campaignId]="campaignId"></app-export-campaign>
            </div>
        </div>
    </div>
</div>
