<div id="create" class="page" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Campaigns create</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" >
                    <img class="card-img-top" src="assets/img/Sound-waves-3.png" alt="Sound Wave">
                    <div class="card-body">
                        <app-form-campaigns-create></app-form-campaigns-create>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>